{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Chats{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="#" id="openPopup">New</a>
  {% endif %}
{% endblock %}
{% block content %}
<!-- The popup menu -->
  <div class="popup" id="popup">
    <div class="search">
      <span class="close" id="closePopup">&times;</span>
      <input type="text" id="searchInput" placeholder="Username">
      <ul id="searchResults"></ul>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/create.js') }}"></script>
{% endblock %}